* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #e5e5e5;
    --yellow: #fcdd44;
}

.container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    height: 9vh;
    width: 100%;
}
.header-nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100%;
   background-color: black;
   text-transform: uppercase;
}

.logo {
    color: var(--yellow);
}

.header-list {
    height: 100%;
    color: #7b797a;
    display: flex;
    text-align: center;
    align-content: flex-end;
    font-family:  'Open Sans', sans-serif;
    font-size: 0.9em;
}

.header-list li a {
    height: 100%;
    padding: 0 2vw 3vh 2vw;
    display: flex;
    align-items: flex-end;
}

.header-list li a {
    color: #7b797a;
}

.header-list li:hover {
    background-color: var(--yellow);
}


.header-list li:hover a {
    color: black;
}

.header-list li a:focus {
    color: black;
    background-color: var(--yellow);
}

.carousel {
    height: 56vh;
    width: 100%;
    position: relative;
}

.carousel-item  {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

[id^="item"] {
    display: none;
}

.slide1 {
    z-index: 2;
    opacity: 1;
    background-image: url(https://images.unsplash.com/photo-1533478511835-e6c287056e1c?auto=format&fit=crop&q=80&w=2187&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.slide2 {
    background-image: url(https://images.unsplash.com/photo-1533984899405-a7d715bac484?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.slide3 {
    background-image: url(https://images.unsplash.com/photo-1572202651953-e9be244dcdc8?auto=format&fit=crop&q=80&w=2188&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

/* * :target ~ .slide1 {
    opacity: 0;
} */

#slide1:target ~ .slide1 {
    opacity: 1;
}

#slide2:target ~ .slide2, #slide3:target ~ .slide3 {
    z-index: 3;
    opacity: 1;
}

.ch-color {
    color: var(--yellow);
}

.learn-more {
    position: relative;
    height: 6vh;
    width: 12vw;
    padding: 2vh;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    text-align: center;
    background: rgba(252, 221, 68, 0.39) none repeat scroll 0% 0%;
    border: 1px solid var(--yellow);
}

.learn-more:hover {
    background-color: var(--yellow);
    color: black;
}

.sl-btn  {
    display: none;
    opacity: 0.6;
    position: absolute;
    color: var(--yellow);
    font-weight: 900;
    font-size: 1.2em;
}

.carousel-item:hover > .sl-btn {
    display: inline;
}

.left-btn {
    left: calc(16% - 200px);
    z-index: 1;
}

.right-btn { 
    right: calc(16% - 200px);
}

.add-inf {
    width: 80%;
    height: 52vh;
    display: flex;
    gap: 5vw;
    position: relative;
    top: -5vh;
    z-index: 5;
}

.card {
    width: 27vw;
    height: 90%;
}

 .img-bg {
    height: 80%;
    background-size: cover;
}

.card2 .img-bg {
    background-image: url(https://images.unsplash.com/photo-1516893842880-5d8aada7ac05?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bmV3JTIweW91cmt8ZW58MHx8MHx8fDA%3D);
}

.card3 .img-bg {
    background-image: url(https://plus.unsplash.com/premium_photo-1668967516060-624b8a7021f4?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YXV0dW1ufGVufDB8fDB8fHww);
}

.card .footer-card {
    height: 20%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
}

.card2 .footer-card {
    background-color: #24be64;
}

.card3 .footer-card {
    background-color: #eb5b4d;
}


.header-card {
    height: 16%;
}

.nav-card {
    height: 100%;
    width: 100%;
    background-color: #f3c70f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-card li, .nav-card li a {
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.nav-card li {
    width: 50%;
}

.nav-card li a {
   width: 100%;
   color: black;
}

.nav-card li a:hover {
    background-color: #e9d99a;
}

.nav-card li > a:focus {
    background-color: white;
}

.main-card {
    height: 84%;
    background-color: white;
    position: relative;
}

.content-card, form {
    height: 100%;
}

.content-card, form, .form-content, .form-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    position: absolute;
    top: 0;
}

.form-content {
    position: absolute;
    top: 0;
    height: 76%;
    gap: 28px;
}

.form-footer {
    position: absolute;
    bottom: 0;
    height: 24%;
    background-color: #f3c70f;
}

.date-wrap {
    width: 100%;
    position: relative;
}

.date-wrap, select {
    width: 70%;
    height: 30px;
}

input {
    width: 100%;
    height: 30px;
}

input:focus, select:focus {
    outline: 2px solid #e9d99a;;
}

label {
    position: absolute;
    height: 30px;
    font-size: 1.5em;
    padding-top: 2px;
    right: 2px; 
}

.form-footer button {
    background-color: #f5d338;
    border: none;
    text-transform: uppercase;
    width: 12vw;
    height: 6vh;
} 

#hotel:target ~ .hotel {
   display: block;
}

#hotel:target ~ .car {
   display: none;
}

#car:target ~ .car {
   display: block;
}

#car:target ~ .hotel {
   display: none;
}


 